<%- include("./partials/header") %>
<style>
.form11{
     display: block;
    width: 100%;
    padding: 50px;
    background: #b5bdc1;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    margin-top: 5px;
}
</style>
<div class="container mt-5 form11">
    <h1>Welcome to login and Register System!</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>
    <a href="http://localhost:3000/" class="btn btn-dark"> Back to Website</a>
    <a href="/formreg" class="btn btn-danger">Form</a>
</div>

<%- include("./partials/footer") %>