<%- include("./partials/header") %>
<style>
.form11{
     display: block;
    width: 100%;
    padding: 50px;
    background: #b5bdc1;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    margin-top: 5px;
}
    
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
</style>
<img src="https://thumbs.dreamstime.com/b/vector-illustration-register-now-web-button-reflection-shadow-white-background-register-now-orange-button-121920660.jpg" class="center">
<div class="container mt-5">
    <a href="/" class="btn btn-dark mb-5">Go Back</a>
    <h1 class="text-primary">Register Account</h1>
    <form action="/register" method="POST" class="form11">
        <div class="form-group">
               <div class="row">
    <div class="col">
     <label for="exampleInputEmail1">First Name</label>
      <input type="text" class="form-control" placeholder="First name" required>
    </div>
    <div class="col">
     <label for="exampleInputEmail1">Last Name</label>
      <input type="text" class="form-control" placeholder="Last name" required>
    </div>
  </div>
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-dark">Register</button>
    </form>
</div>

<%- include("./partials/footer") %>